<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ - Đồ Phượt 365</title>
    <script src="~/Content/js/jquery-3.3.1.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="~/Content/fonts/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/home.css" rel="stylesheet" />
    <link href="~/Content/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/Content/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/js/owl.js"></script>
</head>
<body>
    <!-- container -->
    <div class="container">
        <!-- menu top -->
        <div class="row">
            <div class="col-md-7 dtl-header">
                <p class="text"><marquee>Đồ Phượt 365 - Cung cấp đồ phượt chất lượng</marquee></p>
            </div>
            <div class="col-md-5 dtl-header">
                <p class="text-1">Hỏi Đáp</p>
                <p class="text-1">Hướng Dẫn</p>
                <p class="text-1">Đăng ký</p>
                <p class="text-1">Đăng nhập</p>
            </div>
        </div>
        <!-- end menu top -->
        <!-- menu bottom -->
        <div class="row">
            <div class="col-md-3 header__logo">
                <a href="#" class="header__logo-link">
                    <img src="~/Content/images/logo.png" alt="Logo" class="header__logo-img">
                </a>
            </div>
            <div class="col-md-6 header__search">
                <select name="" id="" class="header__search-select">
                    <option value="0">All</option>
                    <option value="1">Mũ bảo hiểm</option>
                    <option value="2">Găng tay</option>
                    <option value="3">Áo phượt</option>
                    <option value="4">Giày phượt</option>
                    <option value="5">Balo phượt</option>
                </select>
                <input type="text" class="header__search-input" placeholder="Tìm kiếm tại đây...">
                <button class="header__search-btn">
                    <div class="header__search-icon-wrap">
                        <i class="fas fa-search header__search-icon"></i>
                    </div>
                </button>
            </div>
            <div class="col-md-2 header__call">
                <div class="header__call-icon-wrap">
                    <i class="fas fa-phone-alt header__call-icon"></i>
                </div>
                <div class="header__call-info">
                    <div class="header__call-text">
                        Gọi điện tư vấn
                    </div>
                    <div class="header__call-number">
                        0352.860.701
                    </div>
                </div>
            </div>
            <div class="col-md-1 header__cart">
                <a href="cart.html">
                    <span class="header__notice">4</span>
                    <i class="fas fa-shopping-cart header__nav-cart-icon"></i>
                </a>
            </div>
        </div>
        <!-- end menu bottom -->
        <div class="row">
            <div class="col-md-3 header__nav-menu-wrap">
                <i class="fas fa-bars header__nav-menu-icon"></i>
                <div class="header__nav-menu-title">Danh mục sản phẩm</div>
            </div>
            <div class="col-md-9 header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item">
                        <a href="index.html" class="header__nav-link">Trang chủ</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Giới thiệu</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Sản phẩm</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="post.html" class="header__nav-link">Bài viết</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="#" class="header__nav-link">Tuyển cộng tác viên</a>
                    </li>
                    <li class="header__nav-item">
                        <a href="contact.html" class="header__nav-link">Liên hệ</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- menu list -->
        <div class="row backroud">
            <div class="col-md-3">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15" xmlns="http://www.w3.org/2000/svg"><g><path d="m380.867 315.905h127.956c-5.445-18.383-16.927-52.259-35.617-83.367h-142.35z"></path><path d="m258.13 301.651-69.438-99.195h289.504c-6.907-20.988-22.555-56.401-56.388-92.406-48.143-51.235-118.305-80.62-192.495-80.62h-7.908c-59.139 0-114.74 23.03-156.557 64.848-41.818 41.817-64.848 97.416-64.848 156.556v10.331c0 59.14 23.03 114.74 64.848 156.557 41.817 41.818 97.418 64.848 156.557 64.848h276.344l14.251-136.582h-168.715c-33.888 0-65.722-16.574-85.155-44.337zm175.584 92.419h28.283v30.204h-28.283zm-65.937 0h28.284v30.204h-28.284z"></path><path d="m295.774 232.538h-49.304l36.303 51.862c13.81 19.727 36.431 31.505 60.512 31.505h2.5z"></path></g></svg>
                        <span class="text-2">Mũ bảo hiểm</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15" xmlns="http://www.w3.org/2000/svg"><g id="XMLID_1288_"><path id="XMLID_1299_" d="m477.936 45.339c-24.408-28.814-60.065-45.339-97.827-45.339h-154.468c-37.762 0-73.419 16.525-97.827 45.339-24.409 28.813-34.848 66.702-28.64 103.95l2.025 12.147c-15.881-11.432-35.615-14.65-54.351-8.776-19.097 5.985-33.679 20.308-40.007 39.295-7.809 23.433-.914 49.162 17.565 65.549l108.898 96.572 3.944 23.666v119.258c0 8.284 6.716 15 15 15h301.252c8.284 0 15-6.716 15-15v-119.259l38.076-228.452c6.208-37.248-4.231-75.137-28.64-103.95zm-433.625 189.72c-9.478-8.404-13.014-21.601-9.009-33.618 3.245-9.738 10.725-17.084 20.519-20.154 9.796-3.067 20.127-1.307 28.35 4.836l24.149 18.039 17.144 102.864zm394.189 246.941h-271.25v-90.5h271.25zm38.484-337.643-36.191 217.143h-275.837l-36.19-217.143c-4.756-28.533 3.24-57.556 21.938-79.627 18.698-22.072 46.011-34.73 74.937-34.73h154.468c28.926 0 56.239 12.658 74.937 34.73s26.694 51.094 21.938 79.627z" /><path id="XMLID_1304_" d="m372.848 241h-120.5c-24.882 0-45.125 20.243-45.125 45.125s20.243 45.125 45.125 45.125h120.5c24.882 0 45.125-20.243 45.125-45.125s-20.243-45.125-45.125-45.125zm0 60.25h-120.5c-8.34 0-15.125-6.785-15.125-15.125s6.785-15.125 15.125-15.125h120.5c8.34 0 15.125 6.785 15.125 15.125s-6.785 15.125-15.125 15.125z" /><path id="XMLID_1305_" d="m252.348 451.75h120.5c8.284 0 15-6.716 15-15s-6.716-15-15-15h-120.5c-8.284 0-15 6.716-15 15s6.716 15 15 15z" /></g></svg>
                        <span class="text-2">Găng tay xe máy</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">
                        <svg class="menu__item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="15" height="15"><g id="outline"><path d="M29.018,2a4,4,0,0,0-4,4v.556a3.962,3.962,0,0,0-2-.556,4,4,0,0,0-4,4V24.586l-2.134-2.134a4.642,4.642,0,0,0-6.38-.308A4.5,4.5,0,0,0,9,25.4a4.556,4.556,0,0,0,1.328,3.327l8.689,8.689V40a1,1,0,0,0,.293.707l3.621,3.622-.876,4.4A3.54,3.54,0,0,0,22.7,51.75a3.16,3.16,0,0,0,1.316,1.026V61a1,1,0,0,0,1,1h15a1,1,0,0,0,1-1V52.771a3.146,3.146,0,0,0,1.238-.961A3.624,3.624,0,0,0,43,48.836l-.916-5.493,2.637-2.636A1,1,0,0,0,45.018,40V14a4,4,0,0,0-4-4,3.956,3.956,0,0,0-2,.556V10a4,4,0,0,0-4-4,3.956,3.956,0,0,0-2,.556V6A4,4,0,0,0,29.018,2Zm10,58h-13V53h13Zm-4-52a2,2,0,0,1,2,2V25h2V14a2,2,0,0,1,4,0V39.586l-2.629,2.628A12.857,12.857,0,0,1,34.018,44v2a14.823,14.823,0,0,0,6.245-1.451l.784,4.694a1.7,1.7,0,0,1-.367,1.336.942.942,0,0,1-.662.421h-15a.992.992,0,0,1-.719-.454A1.611,1.611,0,0,1,24,49.2l1-5a1,1,0,0,0-.273-.9l-3.707-3.707V37a1,1,0,0,0-.293-.707l-8.982-8.982a2.537,2.537,0,0,1,.1-3.681,2.679,2.679,0,0,1,3.628.236l7.841,7.841a1,1,0,0,0,.707.293c.034,0,3.484.029,5.168,2.555l1.664-1.11a8.531,8.531,0,0,0-6.4-3.424l-3.434-3.435V10a2,2,0,0,1,4,0V25h2V6a2,2,0,0,1,4,0V25h2V10A2,2,0,0,1,35.018,8Z" /></g></svg>
                        <span class="text-2">Găng tay leo núi</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">
                        <svg class="menu__item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15" height="15"><g id="Outline"><path d="M488.971,307.988a23.982,23.982,0,0,1-.013,33.938l-51.3,51.3-11.314-11.314,51.31-51.31A7.995,7.995,0,1,0,466.347,319.3l-30.361,30.36-11.313-11.314,19.053-19.053-9.633-9.633,11.314-11.314,9.633,9.634a23.988,23.988,0,0,1,33.931.011ZM25.573,172.627l91.035,91.034L77.29,259.418a31.533,31.533,0,0,0-4.19-.288,30.711,30.711,0,0,0-8.564,60.2l.107.03,125.23,34.549,4.254-15.424L68.958,303.955a14.719,14.719,0,0,1-9.377-19.908A14.7,14.7,0,0,1,73.1,275.13c.68,0,118.176,11.766,118.176,11.766l1.448-15.935-50.808-4.619L36.884,161.311A16.855,16.855,0,0,1,32,149.295a15.6,15.6,0,0,1,4.731-11.2,16.06,16.06,0,0,1,22.392.218l84.837,84.838,11.314-11.314L70.417,126.973a16,16,0,0,1,22.646-22.6L177.9,189.21,189.21,177.9,104.377,93.063a16.185,16.185,0,0,1,0-22.626,16.012,16.012,0,0,1,22.621,0l55.215,55.215,11.314-11.314-55.22-55.22a16.062,16.062,0,0,1-.214-22.394c6.226-6.46,16.992-6.076,23.22.158l25.03,25.03L197.657,50.6,172.63,25.576A32.961,32.961,0,0,0,149.148,16a31.469,31.469,0,0,0-22.578,9.626,31.932,31.932,0,0,0-8.823,24.205A31.984,31.984,0,0,0,83.685,81.746q0,1.007.061,2-.995-.06-2-.061a31.982,31.982,0,0,0-31.912,34.062,31.953,31.953,0,0,0-24.2,8.82A31.468,31.468,0,0,0,16,149.148,32.944,32.944,0,0,0,25.573,172.627Zm466.565,7.322c.018-.032.035-.062.052-.094A30.711,30.711,0,0,0,440.8,146.511l-24.8,30.8V48.541a32.974,32.974,0,0,0-9.849-23.384,31.456,31.456,0,0,0-22.767-9.151,31.952,31.952,0,0,0-23.352,10.886A31.958,31.958,0,0,0,312,26.856a31.958,31.958,0,0,0-48.032.036,31.952,31.952,0,0,0-23.352-10.886,31.454,31.454,0,0,0-22.767,9.151A32.974,32.974,0,0,0,208,48.541V88h16V48.541a16.872,16.872,0,0,1,5.055-11.963A15.614,15.614,0,0,1,240.312,32,16.077,16.077,0,0,1,256,48V168h16V48a16,16,0,0,1,32,0V168h16V48a16,16,0,0,1,32,0V168h16V48a16.077,16.077,0,0,1,15.687-16,15.582,15.582,0,0,1,11.258,4.575A16.872,16.872,0,0,1,400,48.541V197.1l-38.146,45.775,12.292,10.244,79.2-96.677c.057-.071.114-.144.169-.217a14.738,14.738,0,0,1,17.233-4.833,14.713,14.713,0,0,1,7.45,20.708L401.042,308.051A8,8,0,0,0,400,312V448H240v16H416a8,8,0,0,1,0,16H208a8,8,0,0,1,0-16h8a8,8,0,0,0,8-8V104H208V448a24,24,0,0,0,0,48H416a24,24,0,0,0,0-48V314.112Z" /></g></svg>
                        <span class="text-2">Găng tay chống nắng</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 513.529 513.529" height="15" viewBox="0 0 513.529 513.529" width="15" xmlns="http://www.w3.org/2000/svg"><g id="XMLID_389_"><path id="XMLID_390_" d="m349.466 219.964-86.783 37.171c-1.89.809-3.904 1.215-5.919 1.215s-4.029-.405-5.919-1.215l-86.783-37.171v267.44h185.403v-267.44z" /><path id="XMLID_391_" d="m133.997 442.307-118.455-48.441v25.077c0 37.578 23.886 66.794 59.476 78.768l38.607 14.809c9.823 3.768 20.372-3.484 20.372-14.005z" /><path id="XMLID_392_" d="m133.997 253.792v-46.706l-118.455-50.736v49.002z" /><path id="XMLID_393_" d="m133.997 409.824v-45.033l-118.455-48.44v45.032z" /><path id="XMLID_394_" d="m133.997 332.308v-46.033l-118.455-48.44v46.033z" /><path id="XMLID_397_" d="m379.532 364.791v45.033l118.456-48.441v-45.032z" /><path id="XMLID_398_" d="m379.532 207.086v46.706l118.456-48.441v-49.001z" /><path id="XMLID_399_" d="m379.532 286.275v46.033l118.456-48.44v-46.034z" /><path id="XMLID_400_" d="m379.532 442.307v56.208c0 10.521 10.549 17.773 20.372 14.005l38.607-14.809c35.59-11.975 59.476-45.19 59.476-82.768v-21.077z" /><path id="XMLID_404_" d="m256.765 226.962 230.726-98.823c-10.374-12.299-31.104-35.093-59.804-58.034-.94-.751-1.882-1.485-2.824-2.225-19.729 54.52-72.015 93.588-133.258 93.588h-69.679c-61.244 0-113.529-39.068-133.258-93.588-.942.739-1.884 1.474-2.824 2.225-28.7 22.941-49.43 45.735-59.804 58.034z" /><path id="XMLID_405_" d="m225.141 66.814h63.247c27.253 0 49.489-21.822 50.191-48.908-27.409-10.399-54.866-15.68-81.815-15.68s-54.405 5.28-81.815 15.68c.703 27.087 22.94 48.908 50.192 48.908z" /><path id="XMLID_406_" d="m304.092 130.698c55.677-6.228 99.108-53.58 99.108-110.892v-4.806c0-8.284-6.716-15-15-15h-2.931c-9.221 0-16.571 7.544-16.59 16.765-.083 38.821-27.863 71.252-64.587 78.564z" /><path id="XMLID_407_" d="m209.437 130.698v-35.37c-36.724-7.312-64.504-39.743-64.587-78.564-.019-9.22-7.369-16.764-16.59-16.764h-2.931c-8.284 0-15 6.716-15 15v4.806c0 57.312 43.431 104.664 99.108 110.892z" /><path id="XMLID_413_" d="m239.504 96.881h34.521v34.52h-34.521z" /></g></svg>
                        <span class="text-2">Áo giáp đi phượt</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15" xmlns="http://www.w3.org/2000/svg"><g><path d="m432.472 90.006c-.306-13.697-.476-28.614-.476-45.004v-15h-386.494c-25.09 0-45.502 20.412-45.502 45.502v360.992c0 25.09 20.412 45.502 45.502 45.502h466.498v-391.992zm-20.385 137.144c4.591 41.436 9.33 84.197 9.86 163.844h-30.004c-.531-81.292-5.361-124.902-10.042-167.148-4.591-41.434-9.329-84.204-9.859-163.844h30.002c.531 81.294 5.362 124.902 10.043 167.148zm-80.147 163.844c-.531-81.292-5.361-124.902-10.042-167.148-4.591-41.434-9.329-84.204-9.859-163.844h30.003c.531 81.292 5.361 124.902 10.042 167.148 4.591 41.434 9.329 84.204 9.859 163.844zm-301.94-315.49c0-8.548 6.954-15.502 15.502-15.502h236.536c.531 81.292 5.361 124.902 10.042 167.148 4.591 41.434 9.329 84.204 9.859 163.844h-256.437c-5.441 0-10.662.96-15.502 2.719zm452 376.494h-436.498c-8.548 0-15.502-6.954-15.502-15.502s6.954-15.502 15.502-15.502h406.494v-15c0-91.076-5.13-137.374-10.091-182.148-3.281-29.61-6.637-59.897-8.479-103.84h48.574z" /></g></svg>
                        <span class="text-2">Khăn đa năng</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15" xmlns="http://www.w3.org/2000/svg"><g><path d="m346.375 439.023c.405 3.853 3.66 6.716 7.45 6.716.262 0 .527-.014.794-.042 4.119-.434 7.107-4.125 6.674-8.244l-5.232-49.705c-.434-4.118-4.121-7.111-8.244-6.674-4.119.434-7.107 4.125-6.674 8.244z" /><path d="m164.183 381.074c-4.113-.43-7.81 2.554-8.244 6.674l-5.232 49.7c-.434 4.119 2.554 7.811 6.674 8.244.267.028.532.042.794.042 3.789 0 7.044-2.863 7.45-6.716l5.232-49.7c.434-4.119-2.554-7.81-6.674-8.244z" /><path d="m305.7 248.5c-13.271 0-24.066 10.796-24.066 24.066s10.796 24.067 24.066 24.067 24.066-10.797 24.066-24.067-10.795-24.066-24.066-24.066zm0 33.134c-4.999 0-9.066-4.067-9.066-9.067 0-4.999 4.067-9.066 9.066-9.066s9.066 4.067 9.066 9.066c.001 4.999-4.067 9.067-9.066 9.067z" /><path d="m305.7 314.767c-13.271 0-24.066 10.796-24.066 24.066s10.796 24.067 24.066 24.067 24.066-10.797 24.066-24.067c.001-13.271-10.795-24.066-24.066-24.066zm0 33.133c-4.999 0-9.066-4.067-9.066-9.067 0-4.999 4.067-9.066 9.066-9.066s9.066 4.067 9.066 9.066c.001 5-4.067 9.067-9.066 9.067z" /><path d="m189.734 165.667c-4.142 0-7.5 3.357-7.5 7.5v49.699c0 4.143 3.358 7.5 7.5 7.5s7.5-3.357 7.5-7.5v-49.699c0-4.143-3.358-7.5-7.5-7.5z" /><path d="m314.77 222.866c0 4.143 3.358 7.5 7.5 7.5 4.143 0 7.5-3.357 7.5-7.5v-49.699c0-4.143-3.357-7.5-7.5-7.5-4.142 0-7.5 3.357-7.5 7.5z" /><path d="m477.006 369.604-7.108-17.039c-.016-.04-.033-.08-.05-.12l-55.171-132.258c-7.822-21.893-28.196-36.842-51.272-37.891l-7.32-5.518c-6.106-4.605-9.752-11.918-9.752-19.564v-26.644c10.369-10.496 16.567-24.853 16.567-40.237 0-3.028-.568-5.925-1.593-8.597-.021-.053-.314-.785-.392-.962l-14.735-35.374c-11.488-27.58-38.218-45.4-68.095-45.4h-44.171c-29.876 0-56.604 17.819-68.094 45.398l-14.764 35.439c-.052.121-.36.888-.388.962-1.01 2.654-1.568 5.529-1.568 8.534 0 15.384 6.198 29.741 16.566 40.236v26.646c0 7.646-3.645 14.96-9.751 19.563l-7.321 5.519c-23.077 1.049-43.45 15.997-51.272 37.89l-4.046 9.699c-1.595 3.823.211 8.215 4.034 9.81.944.394 1.922.58 2.885.58 2.936 0 5.724-1.735 6.925-4.614l4.124-9.886c.054-.129.104-.26.15-.392 4.99-14.136 17.063-24.374 31.375-27.298l-18.143 172.356-65.464-19.816 35.443-84.965c1.595-3.823-.212-8.215-4.035-9.81-3.82-1.594-8.214.21-9.809 4.034l-38.615 92.569c-.014.033-.028.066-.041.099l-7.112 17.05c-2.559 6.136-2.496 12.866.18 18.951 2.675 6.086 7.591 10.683 13.842 12.945l69.688 25.22-7.141 67.843c-.467 4.442.979 8.893 3.967 12.213 2.988 3.319 7.264 5.223 11.73 5.223h42.065c4.142 0 7.5-3.357 7.5-7.5s-3.358-7.5-7.5-7.5h-42.065c-.231 0-.427-.087-.582-.259-.155-.173-.221-.376-.197-.606l1.818-17.269h119.272v18.136h-48.245c-4.142 0-7.5 3.357-7.5 7.5s3.358 7.5 7.5 7.5h185.418c4.467 0 8.742-1.903 11.73-5.223 2.988-3.319 4.434-7.771 3.967-12.213l-7.141-67.843 69.688-25.221c6.25-2.263 11.166-6.859 13.841-12.944 2.673-6.085 2.738-12.816.178-18.952zm-76.4-144.218c.047.132.097.263.15.392l52.081 124.85-65.464 19.816-18.143-172.356c14.313 2.923 26.385 13.162 31.376 27.298zm-80.836-95.253c-3.905 1.381-5.952 5.666-4.571 9.571 1.089 3.078 3.981 5.002 7.071 5.002.829 0 1.673-.139 2.5-.431 2.265-.801 4.453-1.742 6.564-2.8v15.741c0 12.328 5.878 24.119 15.723 31.542l6.637 5.002 19.699 187.149c.002.02.004.041.006.061l8.726 82.897h-119.556v-283.733c8.162-1.317 15.707-5.081 21.766-10.977 7.932-7.717 12.3-18.059 12.3-29.124v-17.034c0-4.741 3.857-8.599 8.599-8.599 13.137 0 23.901-10.064 24.508-22.914.168-3.565-.438-7.03-1.736-10.22h10.829c3.712 0 6.907 2.244 8.308 5.445l.092.222c.427 1.051.667 2.197.667 3.399-.001 17.858-11.306 33.853-28.132 39.801zm-113.002-30.733c-5.028 0-9.3-3.866-9.524-8.619-.119-2.514.767-4.895 2.494-6.705 1.729-1.812 4.059-2.81 6.562-2.81h99.4c2.503 0 4.833.998 6.561 2.81 1.727 1.809 2.612 4.191 2.495 6.704-.225 4.753-4.497 8.62-9.524 8.62-13.013 0-23.599 10.586-23.599 23.599v17.034c0 6.979-2.756 13.505-7.76 18.374-5.001 4.867-11.585 7.462-18.6 7.25-13.734-.377-24.908-12.181-24.908-26.313v-16.345c.002-13.013-10.584-23.599-23.597-23.599zm27.146-84.4h44.171c23.802 0 45.096 14.197 54.249 36.168l6.29 15.099h-165.248l6.291-15.101c9.153-21.97 30.446-36.166 54.247-36.166zm-179.794 372.396c-2.354-.852-4.207-2.584-5.214-4.876-1.008-2.293-1.032-4.828-.068-7.14l4.521-10.837 69.67 21.089-2.708 25.722zm75.756 76.47 8.729-82.924c.001-.006.001-.011.002-.017l19.702-187.166 6.636-5.003c9.844-7.422 15.722-19.213 15.722-31.541v-15.741c2.11 1.059 4.298 1.999 6.564 2.8.826.292 1.67.431 2.5.431 3.089 0 5.983-1.924 7.071-5.002 1.38-3.905-.666-8.19-4.572-9.571-16.825-5.948-28.129-21.942-28.129-39.8 0-1.213.244-2.37.678-3.429l.071-.17c1.396-3.213 4.597-5.467 8.317-5.467h10.829c-1.298 3.19-1.903 6.654-1.735 10.22.605 12.849 11.37 22.914 24.507 22.914 4.741 0 8.599 3.857 8.599 8.599v16.345c0 19.641 13.898 36.409 32.202 40.408v284.114zm255.447 32.874c-.154.173-.351.26-.582.26h-122.172v-18.134h121.135l1.818 17.269c.023.229-.043.433-.199.605zm77.772-114.22c-1.008 2.292-2.859 4.024-5.215 4.876l-66.201 23.958-2.708-25.722 69.67-21.089 4.521 10.837c.964 2.311.941 4.847-.067 7.14z" /></g></svg>
                        <span class="text-2">Áo mưa cao cấp</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path d="M509.982,380.674c-6.038-18.941-23.777-30.446-37.593-36.763c-28.384-12.976-59.512-40.574-87.356-72.09l4.154-2.551
                    c3.575-2.195,4.694-6.874,2.499-10.449c-2.196-3.577-6.873-4.692-10.45-2.499l-6.225,3.822c-3.638-4.361-7.201-8.769-10.678-13.2l6.181-4.017c3.518-2.286,4.516-6.992,2.229-10.51c-2.286-3.519-6.994-4.517-10.51-2.23l-7.15,4.648c-4.004-5.39-7.858-10.775-11.537-16.111l5.307-3.296c3.565-2.214,4.659-6.898,2.444-10.462c-2.216-3.566-6.899-4.66-10.463-2.444l-5.737,3.565c-10.014-15.469-18.31-30.17-24.198-42.89c-0.851-2.282-8.099-23.21,6.35-37.658c2.967-2.967,2.967-7.778-0.001-10.744c-2.966-2.967-7.777-2.967-10.744,0c-15.575,15.576-14.263,35.425-11.94,46.271c-9.082,2.578-26.163,6.855-45.351,8.775c-45.518,4.558-67.888-7.296-78.633-18.042c-39.043-39.042-41.575-77.949-41.595-78.311c-0.149-3.186-2.272-5.938-5.314-6.893c-3.044-0.955-6.357,0.091-8.3,2.621L1.572,217.365c-1.292,1.684-1.822,3.83-1.461,5.921c0.361,2.091,1.58,3.935,3.362,5.087c2.126,1.375,213.344,137.893,272.866,174.032c48.443,29.412,114.283,43.351,164.693,43.35c15.222,0,29.044-1.272,40.546-3.773c1.89-0.41,3.552-1.526,4.648-3.12l23.617-34.354c0.016-0.023,0.027-0.051,0.044-0.075c0.183-0.273,0.349-0.558,0.496-0.853c0.028-0.054,0.051-0.109,0.077-0.165c0.13-0.278,0.243-0.563,0.339-0.857c0.01-0.029,0.025-0.057,0.034-0.086c0.006-0.021,0.019-0.066,0.028-0.094c0.009-0.032,0.019-0.064,0.028-0.096C511.359,400.686,513.584,391.969,509.982,380.674z M181.707,293.419c58.135,37.165,97.92,62.275,118.252,74.632c48.443,29.413,114.283,43.35,164.692,43.35c8.021,0,15.638-0.363,22.747-1.063l-11.957,17.392c-23.67,4.537-56.217,3.738-89.962-2.261c-38.183-6.788-74.143-19.592-101.254-36.052C231.002,357.104,55.745,244.043,18.642,220.085l16.18-21.064c54.161,34.954,96.012,61.822,121.842,78.373c1.269,0.813,2.687,1.201,4.091,1.201c2.503,0,4.953-1.236,6.403-3.5c2.264-3.533,1.236-8.231-2.298-10.495c-11.441-7.331-26.032-16.691-43.438-27.877c7.952-14.643,12.129-31.048,12.129-47.885c0-23.357-8.193-46.109-23.068-64.065c-2.678-3.232-7.468-3.68-10.698-1.004c-3.23,2.677-3.68,7.467-1.003,10.697c12.623,15.236,19.575,34.546,19.575,54.371c0,13.913-3.365,27.469-9.763,39.638c-18.828-12.109-40.434-26.023-64.486-41.545l72.964-94.991c4.646,16.911,15.844,43.684,42.761,70.601c38.645,38.645,116.899,19.603,140.053,12.831c5.899,11.911,13.541,25.097,22.354,38.7l-25.812,16.034c-3.565,2.214-4.659,6.898-2.444,10.462c1.439,2.317,3.921,3.589,6.461,3.589c1.37,0,2.754-0.37,4.002-1.145l26.238-16.299c3.753,5.455,7.662,10.933,11.692,16.382l-20.513,13.333c-3.518,2.287-4.516,6.993-2.229,10.511c1.456,2.24,3.891,3.458,6.377,3.458c1.419,0,2.855-0.397,4.133-1.229l21.443-13.938c3.402,4.366,6.867,8.683,10.373,12.929l-19.075,11.713c-3.575,2.195-4.694,6.874-2.499,10.449c1.434,2.336,3.928,3.623,6.481,3.623c1.356,0,2.728-0.363,3.969-1.124l21.08-12.944c41.558,47.63,73.969,68.628,94.155,77.855c27.515,12.579,30.867,28.587,30.756,36.049c-23.464,4.075-55.031,3.148-87.729-2.665c-38.183-6.788-74.143-19.592-101.251-36.05 c-20.233-12.295-59.919-37.343-117.957-74.446c-3.536-2.26-8.232-1.227-10.493,2.309C177.139,286.462,178.172,291.159,181.707,293.419z" />
                        </svg>
                        <span class="text-2">Giày bảo hộ</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path d="M376,304H112c-4.418,0-8,3.582-8,8v112c0,4.418,3.582,8,8,8h264c4.418,0,8-3.582,8-8V312C384,307.582,380.418,304,376,304
                    z M368,416H120v-56h192v16c0,4.418,3.582,8,8,8s8-3.582,8-8v-16h16c4.418,0,8-3.582,8-8s-3.582-8-8-8H120v-24h248V416z" />
                                <path d="M472,208h-32V104c-0.091-28.207-11.641-55.165-32-74.688V8c0-4.418-3.582-8-8-8H80c-4.418,0-8,3.582-8,8v21.312
                    C51.641,48.835,40.091,75.793,40,104v104H8c-4.418,0-8,3.582-8,8v160c0,4.418,3.582,8,8,8h32.408
                    c4.21,54.119,49.309,95.913,103.592,96h192c54.283-0.087,99.382-41.881,103.592-96H472c4.418,0,8-3.582,8-8V216
                    C480,211.582,476.418,208,472,208z M40,368H16V256h24V368z M40,240H16v-16h24V240z M88,16h304v156l-16,12v-72c0-4.418-3.582-8-8-8h-64c-4.418,0-8,3.582-8,8v114.528c-35.689,15.672-76.311,15.672-112,0V112c0-4.418-3.582-8-8-8h-64c-4.418,0-8,3.582-8,8v72l-16-12V16z M312,152v-32h48v32H312z M360,168v84l-24,18l-24-18v-84H360z M120,152v-32h48v32H120z M168,168v84l-24,18l-24-18v-84H168z M424,376c-0.057,48.577-39.423,87.943-88,88H144c-48.577-0.057-87.943-39.423-88-88V104c0.048-17.997,5.634-35.544,16-50.256V176c0,2.518,1.186,4.889,3.2,6.4L104,204v52c0,2.518,1.186,4.889,3.2,6.4l32,24c2.844,2.133,6.756,2.133,9.6,0l32-24c2.014-1.511,3.2-3.882,3.2-6.4v-12.192c36.004,14.091,75.996,14.091,112,0V256c0,2.518,1.186,4.889,3.2,6.4l32,24c2.844,2.133,6.756,2.133,9.6,0l32-24c2.014-1.511,3.2-3.882,3.2-6.4v-52l28.8-21.6c2.014-1.511,3.2-3.882,3.2-6.4V53.744c10.366,14.712,15.952,32.259,16,50.256V376z M464,368h-24V256h24V368z M464,240h-24v-16h24V240z" />
                        </svg>
                        <span class="text-2">Balo đi phượt</span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="15" viewBox="0 0 512 512" width="15" xmlns="http://www.w3.org/2000/svg">
                            <g><path d="m449.649 307.262-18.956-101.095h29.976v-30h-35.601l-5.625-30.002h-117.452v30h31.907l25.911 190.012h-84.69l-28.814-65.109c14.379-7.521 24.22-22.576 24.22-39.896 0-24.814-20.188-45.002-45.002-45.002h-35.173v-160.35h-190.35v190.349h50.173v60.004h51.771c-19.485 19.073-31.598 45.648-31.598 75.003v15h31.509c6.968 34.194 37.273 60.004 73.495 60.004s66.526-25.81 73.495-60.004h114.658c6.968 34.194 37.273 60.004 73.494 60.004 41.357 0 75.004-33.646 75.004-75.004-.001-37.043-27.002-67.88-62.352-73.914zm-419.649-91.093v-130.349h130.349v130.349zm50.173 60.004v-30.004h145.349c8.272 0 15.002 6.73 15.002 15.002s-6.73 15.002-15.002 15.002zm95.176 30h40.408l26.555 60.003h-140.46c6.967-34.196 37.274-60.003 73.497-60.003zm0 120.007c-19.557 0-36.232-12.543-42.424-30.004h84.848c-6.192 17.461-22.867 30.004-42.424 30.004zm219.196-250.015 24.775 132.132c-13.215 3.206-25.068 9.917-34.523 19.096l-20.622-151.227h30.37zm42.451 250.015c-24.815 0-45.003-20.188-45.003-45.004 0-24.815 20.188-45.003 45.003-45.003s45.004 20.188 45.004 45.003c0 24.816-20.188 45.004-45.004 45.004z" /></g>
                        </svg>
                        <span class="text-2">Thùng Givi</span>
                    </a>
                </div>
            </div>
            <div class="col-md-9 slider">
                <div class="row">
                    <div class="col-md-8 slider-left">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="~/Content/images/banner_1.jpg" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/Content/images/banner_8.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="~/Content/images/banner_9.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="slide__left-bottom">
                            <div class="slide__left-botom-one">
                                <img class="slide__left-bottom-one-img" src="~/Content/images/banner_3.jpg">
                            </div>
                            <div class="slide__left-bottom-two">
                                <img class="slide__left-bottom-tow-img" src="~/Content/images/banner_4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 slide__right">
                        <img class="slide__right-img" src="~/Content/images/banner_2.jpg">
                    </div>
                </div>
            </div>
        </div>
        <!-- end menu list -->
        <!-- bestselling -->
        <div class="row">
            <div class="bestselling__heading-wrap">
                <img class="bestselling__heading-img" src="~/Content/images/bestselling.png" alt="Sản phẩm bán chạy">
                <div class="bestselling__heading">Top bán chạy nhất tuần</div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 bestselling__product">
                <div class="bestselling__product-img-box">
                    <img class="bestselling__product-img" src="~/Content/images/product_1.png" alt="">
                </div>
                <div class="bestselling__product-text">
                    <h3 class="bestselling__product-title">
                        <a href="#" class="bestselling__product-link">Mũ bảo hiểm fullfaceYoyal QC201</a>
                    </h3>
                    <div class="bestselling__product-rate-wrap">
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                    </div>
                    <span class="bestselling__product-price">
                        900.000đ
                    </span>
                    <div class="bestselling__product-btn-wrap">
                        <button class="bestselling__product-btn">Xem hàng</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bestselling__product">
                <div class="bestselling__product-img-box">
                    <img class="bestselling__product-img" src="~/Content/images/product_8.png" alt="">
                </div>
                <div class="bestselling__product-text">
                    <h3 class="bestselling__product-title">
                        <a href="#" class="bestselling__product-link">Mũ bảo hiểm fullfaceYoyal 2020</a>
                    </h3>
                    <div class="bestselling__product-rate-wrap">
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                    </div>
                    <span class="bestselling__product-price">
                        1.490.000đ
                    </span>
                    <div class="bestselling__product-btn-wrap">
                        <button class="bestselling__product-btn">Xem hàng</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bestselling__product">
                <div class="bestselling__product-img-box">
                    <img class="bestselling__product-img" src="~/Content/images/product_3.png" alt="">
                </div>
                <div class="bestselling__product-text">
                    <h3 class="bestselling__product-title">
                        <a href="#" class="bestselling__product-link">Mũ bảo hiểm LS2 đẹp chính hãng</a>
                    </h3>
                    <div class="bestselling__product-rate-wrap">
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                    </div>
                    <span class="bestselling__product-price">
                        1.200.000đ
                    </span>
                    <div class="bestselling__product-btn-wrap">
                        <button class="bestselling__product-btn">Xem hàng</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bestselling__product">
                <div class="bestselling__product-img-box">
                    <img class="bestselling__product-img" src="~/Content/images/product_4.png" alt="">
                </div>
                <div class="bestselling__product-text">
                    <h3 class="bestselling__product-title">
                        <a href="#" class="bestselling__product-link">Mũ bảo hiểm LS2 chất lượng, bền</a>
                    </h3>
                    <div class="bestselling__product-rate-wrap">
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                    </div>
                    <span class="bestselling__product-price">
                        2.220.000đ
                    </span>
                    <div class="bestselling__product-btn-wrap">
                        <button class="bestselling__product-btn">Xem hàng</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bestselling__product">
                <div class="bestselling__product-img-box">
                    <img class="bestselling__product-img" src="~/Content/images/product_5.png" alt="">
                </div>
                <div class="bestselling__product-text">
                    <h3 class="bestselling__product-title">
                        <a href="#" class="bestselling__product-link">Găng tay leo núi mới nhất 2020</a>
                    </h3>
                    <div class="bestselling__product-rate-wrap">
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                    </div>
                    <span class="bestselling__product-price">
                        200.000đ
                    </span>
                    <div class="bestselling__product-btn-wrap">
                        <button class="bestselling__product-btn">Xem hàng</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 bestselling__product">
                <div class="bestselling__product-img-box">
                    <img class="bestselling__product-im" src="~/Content/images/product_6.png" alt="">
                </div>
                <div class="bestselling__product-text">
                    <h3 class="bestselling__product-title">
                        <a href="#" class="bestselling__product-link">Áo Khoác Nam dành cho người đi phượt</a>
                    </h3>
                    <div class="bestselling__product-rate-wrap">
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                        <i class="fas fa-star bestselling__product-rate"></i>
                    </div>
                    <span class="bestselling__product-price">
                        1.120.000đ
                    </span>
                    <div class="bestselling__product-btn-wrap">
                        <button class="bestselling__product-btn">Xem hàng</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 bestselling__banner-left">
                <img class="bestselling__banner-left-img" src="~/Content/images/banner_5.jpg" alt="">
            </div>
            <div class="col-md-6 bestselling__banner-right">
                <img class="bestselling__banner-right-img" src="~/Content/images/banner_6.jpg" alt="">
            </div>
        </div>
        <!-- end bestselling -->
        <!-- product -->
        <div class="row">
            <div class="col-md-3 product__sidebar">
                <div class="product__sidebar-heading">
                    <h4 class="product__sidebar-title">
                        <svg class="menu__item-icon" id="Capa_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                            <g><path d="m380.867 315.905h127.956c-5.445-18.383-16.927-52.259-35.617-83.367h-142.35z" /><path d="m258.13 301.651-69.438-99.195h289.504c-6.907-20.988-22.555-56.401-56.388-92.406-48.143-51.235-118.305-80.62-192.495-80.62h-7.908c-59.139 0-114.74 23.03-156.557 64.848-41.818 41.817-64.848 97.416-64.848 156.556v10.331c0 59.14 23.03 114.74 64.848 156.557 41.817 41.818 97.418 64.848 156.557 64.848h276.344l14.251-136.582h-168.715c-33.888 0-65.722-16.574-85.155-44.337zm175.584 92.419h28.283v30.204h-28.283zm-65.937 0h28.284v30.204h-28.284z" /><path d="m295.774 232.538h-49.304l36.303 51.862c13.81 19.727 36.431 31.505 60.512 31.505h2.5z" /></g>
                        </svg>
                        Mũ bảo hiểm
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-6 product__sidebar-item">
                        <img class="product__sidebar-item-img" src="~/Content/images/product_4.png" alt="">
                        <a href="" class="product__sidebar-item-name">Mũ bảo hiểm LS2</a>
                    </div>
                    <div class="col-md-6 product__sidebar-item">
                        <img class="product__sidebar-item-img" src="~/Content/images/product_4.png" alt="">
                        <a href="" class="product__sidebar-item-name">Mũ bảo hiểm Yohe</a>
                    </div>
                    <div class="col-md-6 product__sidebar-item">
                        <img class="product__sidebar-item-img" src="~/Content/images/product_2.png" alt="">
                        <a href="" class="product__sidebar-item-name">Mũ bảo hiểm AGU</a>
                    </div>
                    <div class="col-md-6 product__sidebar-item">
                        <img class="product__sidebar-item-img" src="~/Content/images/product_1.png" alt="">
                        <a href="" class="product__sidebar-item-name">Mũ bảo hiểm ROC</a>
                    </div>
                </div>
                <div class="product__sidebar-img-wrap">
                    <video width="255" height="300" controls>
                        <source src="~/Content/video/vd.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-md-9 product__content">
                <ul class="product__list hide-on-mobile">
                    <li class="product__item product__item--active">
                        <a href="#" class="product__link">Mũ bảo hiểm Fullface</a>
                    </li>
                    <li class="product__item">
                        <a href="#" class="product__link">Mũ bảo hiểm 3/4</a>
                    </li>
                    <li class="product__item">
                        <a href="#" class="product__link">Mũ bảo hiểm lật cằm</a>
                    </li>
                    <li class="product__item">
                        <a href="#" class="product__link">Mũ bảo hiểm nửa đầu</a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_13.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ Fullface YOHE 967 2 Kính 2019 chất chơi</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-old">
                                    <strike>1.890.000đ</strike>
                                </span>
                                <span class="product__panel-price-current">
                                    1.200.000đ
                                </span>
                            </div>
                            <div class="product__panel-price-sale-off">
                                -12%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_3.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ bảo hiểm LS2 đẹp chính hãng</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-old">
                                    <strike>1.500.000đ</strike>
                                </span>
                                <span class="product__panel-price-current">
                                    1.220.000đ
                                </span>
                            </div>
                            <div class="product__panel-price-sale-off">
                                -6%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_7.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ bảo hiểm mới nhất 2020</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-current">
                                    1.200.000đ
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_1.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ bảo hiểm fullface Yoyal QC201</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-old">
                                    <strike>1.200.000đ</strike>
                                </span>
                                <span class="product__panel-price-current">
                                    900.000đ
                                </span>
                            </div>
                            <div class="product__panel-price-sale-off">
                                -4%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_4.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ bảo hiểm LS2 chất lượng, bền</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-current">
                                    2.220.000đ
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product-img" src="~/Content/images/product_11.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ bảo hiểm ROC QC 2020</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-current">
                                    1.590.000đ
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_8.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ bảo hiểm fullface AGU kính mới</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-current">
                                    1.490.000đ
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product__panel-item">
                        <div class="product__panel-item-wrap">
                            <div class="product__panel-img-wrap">
                                <a href="product.html"><img class="product-img" src="~/Content/images/product_9.png" alt=""></a>
                            </div>
                            <h3 class="product__panel-heading">
                                <a href="product.html" class="product__panel-link">Mũ bảo hiểm fullface ROC màu trắng</a>
                            </h3>
                            <div class="product__panel-rate-wrap">
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                                <i class="fas fa-star product__panel-rate"></i>
                            </div>
                            <div class="product__panel-price">
                                <span class="product__panel-price-current">
                                    2.210.000đ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product -->
        <!-- product love -->
        <div class="row">
            <div class="col-md-12 product__love-title">
                <h2 class="product__love-heading">
                    Có thể bạn thích
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="product-img-wrap">
                            <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                        </div>
                        <h3 class="product__panel-heading">
                            <a href="#" class="product__panel-link">Mũ bảo hiểm fullface Yoyal 2020</a>
                        </h3>
                        <div class="product__panel-rate-wrap">
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                        </div>
                        <span class="product__panel-price-current">
                            1.490.000đ
                        </span>
                    </div>
                    <div class="item">
                        <div class="product-img-wrap">
                            <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                        </div>
                        <h3 class="product__panel-heading">
                            <a href="#" class="product__panel-link">Mũ bảo hiểm fullface Yoyal 2020</a>
                        </h3>
                        <div class="product__panel-rate-wrap">
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                        </div>
                        <span class="product__panel-price-current">
                            1.490.000đ
                        </span>
                    </div>
                    <div class="item">
                        <div class="product-img-wrap">
                            <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                        </div>
                        <h3 class="product__panel-heading">
                            <a href="#" class="product__panel-link">Mũ bảo hiểm LS2 chất lượng, bền</a>
                        </h3>
                        <div class="product__panel-rate-wrap">
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                        </div>
                        <span class="product__panel-price-current">
                            2.200.000đ
                        </span>
                    </div>
                    <div class="item">
                        <div class="product-img-wrap">
                            <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                        </div>
                        <h3 class="product__panel-heading">
                            <a href="#" class="product__panel-link">Mũ bảo hiểm fullface Yoyal QC201</a>
                        </h3>
                        <div class="product__panel-rate-wrap">
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                        </div>
                        <span class="product__panel-price-current">
                            900.000đ
                        </span>
                    </div>
                    <div class="item">
                        <div class="product-img-wrap">
                            <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                        </div>
                        <h3 class="product__panel-heading">
                            <a href="#" class="product__panel-link">Mũ bảo hiểm ROC QC 2020</a>
                        </h3>
                        <div class="product__panel-rate-wrap">
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                        </div>
                        <span class="product__panel-price-current">
                            1.590.000đ
                        </span>
                    </div>
                    <div class="item">
                        <div class="product-img-wrap">
                            <a href="product.html"><img class="product__panel-img" src="~/Content/images/product_10.png" alt=""></a>
                        </div>
                        <h3 class="product__panel-heading">
                            <a href="#" class="product__panel-link">Mũ bảo hiểm fullface ROC màu trắng</a>
                        </h3>
                        <div class="product__panel-rate-wrap">
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                            <i class="fas fa-star product__panel-rate"></i>
                        </div>
                        <span class="product__panel-price-current">
                            2.210.000đ
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end product love -->
        <!-- post -->
        <div class="row">
            <div class="col-md-12 posts__title-wrap">
                <h2 class="posts__heading">
                    Tin tức - Bài viết
                </h2>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3 posts__item">
                <img class="posts__item-img" src="~/Content/images/product_1.png">
                <h6 class="posts__item-title">
                    Kinh nghiệm mua mũ bảo hiểm
                    cho người đi phượt
                </h6>
                <div class="posts__item-date">
                    28/05/2020
                </div>
                <i class="fa fa-folder posts__item-cate-icon"></i>
                <div class="posts__item-cate-name">
                    Tin tức
                </div>
                <i class="fa fa-user posts__item-cate-ad-icon"></i>
                <div class="posts__item-cate-ad-name">
                    Thành Long
                </div>
                <div class="posts__item-description">
                    Trong bài viết này mình hướng dẫn các bạn chọn lựa loại mũ bảo hiểm chất lượng, đảm bảo sự anh toàn...
                </div>
            </div>
            <div class="col-md-3 posts__item">
                <img class="posts__item-img" src="~/Content/images/post_1.jpg">
                <h6 class="posts__item-title">
                    Kinh nghiệm đi phượt bằng xe máy
                </h6>
                <div class="posts__item-date">
                    05/06/2020
                </div>
                <i class="fa fa-folder posts__item-cate-icon"></i>
                <div class="posts__item-cate-name">
                    Tin tức
                </div>
                <i class="fa fa-user posts__item-cate-ad-icon"></i>
                <div class="posts__item-cate-ad-name">
                    Thành Long
                </div>
                <div class="posts__item-description">
                    Trong bài viết này mình chia sẻ kinh nghiệm đi phượt bằng xe máy cho những người đang dự định đi phượt...
                </div>
            </div>
            <div class="col-md-3 posts__item">
                <img class="posts__item-img" src="~/Content/images/post_2.jpg">
                <h6 class="posts__item-title">
                    Giới thiệu các địa điểm phải đến khi đi phượt Hà Giang
                </h6>
                <div class="posts__item-date">
                    26/05/2020
                </div>
                <i class="fa fa-folder posts__item-cate-icon"></i>
                <div class="posts__item-cate-name">
                    Tin tức
                </div>
                <i class="fa fa-user posts__item-cate-ad-icon"></i>
                <div class="posts__item-cate-ad-name">
                    Thành Long
                </div>
                <div class="posts__item-description">
                    Trong bài viết này mình chia sẻ về các địa điểm đẹp tại Hà Giang. Để các bạn có trải nghiệm tốt nhất trong chuyến đi...
                </div>
            </div>
            <div class="col-md-3 posts__item">
                <img class="posts__item-img" src="~/Content/images/product_4.png">
                <h6 class="posts__item-title">
                    Cách bảo vệ mũ bảo hiểm khi sử dụng
                </h6>
                <div class="posts__item-date">
                    22/05/2020
                </div>
                <i class="fa fa-folder posts__item-cate-icon"></i>
                <div class="posts__item-cate-name">
                    Tin tức
                </div>
                <i class="fa fa-user posts__item-cate-ad-icon"></i>
                <div class="posts__item-cate-ad-name">
                    Thành Long
                </div>
                <div class="posts__item-description">
                    Trong bài viết này mình hướng dẫn các bạn cách bảo vệ mũ bảo hiểm khi sử dụng...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-danger">Xem thêm</button>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <!-- end post -->
        <!-- footer -->
        <div class="row backroud">
            <div class="col-md-5">
                <h4 class="footer-heading">
                    Về chúng tôi
                </h4>
                <div class="footer__top-intro-content">
                    Dophuot365.com là hệ thống chuyên cung cấp những
                    phụ kiện, thiết bị cần thiết cho các bạn đam mê
                    phượt trên khắp cả nước.Chúng tôi sẽ liên tục cập
                    nhật những sản phẩm mới nhất, chất lượng nhất,
                    hợp thời nhất giúp các bạn có những trải nghiệm
                    tuyệt vời! <br> <br>
                    Điện thoại: 0352 860 701 <br>
                    Email: dophuot365@gmail.com <br>
                    Zalo: 0352 860 701 <br>
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="footer__top-policy-heading">
                    Chính sách mua hàng
                </h4>

                <ul class="footer__top-policy-list">
                    <li class="footer__top-policy-item">
                        <a href="#" class="footer__top-policy-link">Hình thức đặt hàng</a>
                    </li>
                    <li class="footer__top-policy-item">
                        <a href="#" class="footer__top-policy-link">Hình thức thanh toán</a>
                    </li>
                    <li class="footer__top-policy-item">
                        <a href="#" class="footer__top-policy-link">Phương thức vận chuyển</a>
                    </li>
                    <li class="footer__top-policy-item">
                        <a href="#" class="footer__top-policy-link">Chính sách đổi trả</a>
                    </li>
                    <li class="footer__top-policy-item">
                        <a href="#" class="footer__top-policy-link">Hướng dẫ sử dụng</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="footer-heading">
                    Hotline liên hệ
                </h4>
                <div class="footer__top-contact">
                    <div class="footer__top-contact-icon">
                        <img src="~/Content/images/phone_top.png" class="footer__top-contact-img">
                    </div>

                    <div class="footer__top-contact-phone-wrap">
                        <div class="footer__top-contact-phone">
                            0352.860.701
                        </div>
                        <div class="footer__top-contact-des">
                            (Tư vấn miễn phí 24/24)
                        </div>
                    </div>
                </div>
                <h4 class="footer__top-contact-heading">
                    Kết nối với chúng tôi
                </h4>
                <img class="footer__top-contact-social-link" src="~/Content/images/facebook.png">
                <img class="footer__top-contact-social-link" src="~/Content/images/youtube.png">
                <img class="footer__top-contact-social-link" src="~/Content/images/tiktok.png">
                <img class="footer__top-contact-social-link" src="~/Content/images/zalo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 footer__bottom">
                <span class="footer__bottom-content">Bản quyền thuộc về Dophuot365.com | Thiết kế bởi Thành Long</span>
            </div>
        </div>
        <!-- end footer -->
    </div>
    <!-- end container -->
    @RenderBody()
</body>
</html>